.circle-container {
	position: relative;
	width: 120px;
	height: 120px;
	margin: 0 auto;
	margin-top: 1rem;
}

.circle-background {
	fill: none;
	stroke: rgb(125, 211, 252);
	stroke-width: 8;
}

.circle-foreground {
	fill: none;
	stroke: rgb(56, 189, 248);
	stroke-width: 8;
	stroke-dasharray: 314;
	stroke-dashoffset: 0;
	transition: stroke-dashoffset 1s linear;
	transform-origin: center center;
	-webkit-transform-origin: center center;
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	/* Instead of using transform here, we'll use the SVG transform attribute */
}

.countdown-number {
	font-size: 24px;
	font-weight: bold;
	/* Fixed 'font-weight' value */
	color: rgb(56, 189, 248);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}