{% extends 'base.html' %}


{% block extrastyle %}
<style>
	.container {
		/* width: 100%; */
		min-height: calc(100vh - 4rem);

	}

	.wrapp {
		/* width: 100%; */
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: 0.5rem;
		margin-bottom: 4rem;
		padding: 2rem;
	}

	.header {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 2rem 0;
	}

	.screens-list {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 3rem;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	.screens-list>* {
		flex: 1 1 calc(25% - 3rem);
		/* For older browsers, this calculates the width based on the number of columns (4) minus the gap */
		max-width: calc(25% - 3rem);
	}

	@media screen and (max-width: 768px) {
		.screens-list {
			justify-content: space-around;
		}

		.screens-list>* {
			flex: 1 1 calc(50% - 3rem);
			max-width: calc(50% - 3rem);
		}
	}

	@media screen and (max-width: 480px) {
		.screens-list {
			justify-content: center;
		}

		.screens-list>* {
			flex: 1 1 calc(100% - 3rem);
			max-width: calc(100% - 3rem);
		}
	}
</style>
{% endblock %}



{% block body %}
<main class="container">
	{% include 'home/hero.html' %}

	<section class="wrapp">
		<div class="header">
			<h1 style="text-align: center; font-weight: 600; font-size: 1.25rem; color: #38bdf8;">
				Explore all Screens
			</h1>
			<svg aria-hidden="true" viewBox="0 0 418 42" preserveAspectRatio="none"
				style="width: 220px; margin-top: 0.5rem;" fill="#0ea5e9">
				<path
					d="M203.371.916c-26.013-2.078-76.686 1.963-124.73 9.946L67.3 12.749C35.421 18.062 18.2 21.766 6.004 25.934 1.244 27.561.828 27.778.874 28.61c.07 1.214.828 1.121 9.595-1.176 9.072-2.377 17.15-3.92 39.246-7.496C123.565 7.986 157.869 4.492 195.942 5.046c7.461.108 19.25 1.696 19.17 2.582-.107 1.183-7.874 4.31-25.75 10.366-21.992 7.45-35.43 12.534-36.701 13.884-2.173 2.308-.202 4.407 4.442 4.734 2.654.187 3.263.157 15.593-.78 35.401-2.686 57.944-3.488 88.365-3.143 46.327.526 75.721 2.23 130.788 7.584 19.787 1.924 20.814 1.98 24.557 1.332l.066-.011c1.201-.203 1.53-1.825.399-2.335-2.911-1.31-4.893-1.604-22.048-3.261-57.509-5.556-87.871-7.36-132.059-7.842-23.239-.254-33.617-.116-50.627.674-11.629.54-42.371 2.494-46.696 2.967-2.359.259 8.133-3.625 26.504-9.81 23.239-7.825 27.934-10.149 28.304-14.005.417-4.348-3.529-6-16.878-7.066Z">
				</path>
			</svg>
		</div>

		<div class="screens-list">
			{% for screen in screens %}
			<a href="{% url 'frontend:screen_detail' screen.id %}"
				style="display: flex; justify-content: center; align-items: center; cursor: pointer; width: 100%; border-radius: 1rem; transition: all 0.3s ease-in-out; margin-bottom: 2rem; ; text-decoration: none;">
				<div style="position: relative; width: 100%; height: 10rem; border-radius: 1rem;">
					<div
						style="width: 100%; height: 100%; border: 2px solid #e5e7eb; border-radius: 1rem; background-color: #e5e7eb20">

						<h1
							style="font-size: 1rem; font-weight: 500; color: #4B5563; text-transform: capitalize; text-align: center; padding: 4rem 0">
							{{screen.name }}
						</h1>

					</div>
					<div
						style="position: absolute; bottom: -0.5rem; left: 50%; transform: translateX(-50%); background-color: #6B7280; width: 4rem; height: 0.5rem; border-bottom-left-radius: 0.5rem; border-bottom-right-radius: 0.5rem;">
					</div>
				</div>
			</a>
			{% endfor %}
		</div>

		<div style="width: 100%; display: flex; justify-content: center;">
			{% if screens|length == 0 %}
			<div
				style="display: flex; align-items: center; justify-content: center; gap: 0.5rem; background-color: #F3F4F6; padding-left: 1rem; padding-right: 1rem; padding-top: 0.5rem; padding-bottom: 0.5rem; border-radius: 0.375rem;">
				<svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M9 16C9.85038 16.6303 10.8846 17 12 17C13.1154 17 14.1496 16.6303 15 16" stroke="#1C274C"
						stroke-width="1.5" stroke-linecap="round" />
					<ellipse cx="15" cy="10.5" rx="1" ry="1.5" fill="#1C274C" />
					<ellipse cx="9" cy="10.5" rx="1" ry="1.5" fill="#1C274C" />
					<path opacity="0.5" d="M22 14C22 17.7712 22 19.6569 20.8284 20.8284C19.6569 22 17.7712 22 14 22"
						stroke="#1C274C" stroke-width="1.5" stroke-linecap="round" />
					<path opacity="0.5" d="M10 22C6.22876 22 4.34315 22 3.17157 20.8284C2 19.6569 2 17.7712 2 14"
						stroke="#1C274C" stroke-width="1.5" stroke-linecap="round" />
					<path opacity="0.5" d="M10 2C6.22876 2 4.34315 2 3.17157 3.17157C2 4.34315 2 6.22876 2 10"
						stroke="#1C274C" stroke-width="1.5" stroke-linecap="round" />
					<path opacity="0.5" d="M14 2C17.7712 2 19.6569 2 20.8284 3.17157C22 4.34315 22 6.22876 22 10"
						stroke="#1C274C" stroke-width="1.5" stroke-linecap="round" />
				</svg>
				<p style="color: #6B7280; font-size: 0.875rem;">No active screens available</p>
			</div>
			{% endif %}
		</div>
	</section>


	<!-- <h1 class="text-2xl font-bold mb-4">Screens List</h1>
	<ul class="list-disc pl-5">
		{% for screen in screens %}
		<li class="mb-2">
			<h2 class="text-xl font-semibold">{{ screen.name }}</h2>
			<p class="text-gray-600">ID: {{ screen.id }}</p>
			<p class="text-gray-600">Description: {{ screen.description|default:"No description available" }}</p>
			<p class="text-gray-600">Status: {{ screen.is_active|yesno:"Active,Inactive" }}</p>
		</li>
		{% endfor %}
	</ul> -->

</main>
{% include 'components/footer.html' %}
{% endblock %}